# Bot Identifier
BOT_ID=

# Server
PORT=
RATE_LIMIT_ACCESS= # default 100
RATE_LIMIT_TIME= # default 15m

# Voting webhook URLs for various services
TOPGG_VOTE_WEBHOOK=
VCODES_VOTE_WEBHOOK=
DLIST_VOTE_WEBHOOK=
WUMPUSSTORE_VOTE_WEBHOOK=

# Tebex payment API key
TEBEX_API_KEY=

# Internal API key for secured access
INTERNAL_API_KEY=

# SendGrid API key for sending emails
SENDGRID_API_KEY=

# DoubleCounter integration API key
DC_API_KEY=

# Configuration for Prod DB
PROD_DB_HOST=localhost
PROD_DB_PORT=3306
PROD_DB_USERNAME=root
PROD_DB_PASSWORD=password
PROD_DB_DATABASE=bot

# Configuration for Dashboard DB
DASH_DB_HOST=localhost
DASH_DB_PORT=3306
DASH_DB_USERNAME=root
DASH_DB_PASSWORD=password
DASH_DB_DATABASE=dash

# Configuration for Bot DB
BOT_DB_HOST=localhost
BOT_DB_PORT=3306
BOT_DB_USERNAME=root
BOT_DB_PASSWORD=password
BOT_DB_DATABASE=bot
